body {
    background-color: #333;
    color: #fff;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}


.navbar-custom {
    background-color: #1f1f1f;
    border-radius: 12px;
    padding: 0.5rem 1rem;
}

.nav-link {
    color: #fff !important;
    font-weight: 500;
    transition: all 0.3s;
}

    .nav-link:hover {
        color: #0d6efd !important;
    }

.nav-icon {
    margin-right: 8px;
}

.footer {
    background-color: #1f1f1f;
    padding: 1rem 0;
    text-align: center;
    margin-top: auto;
    border-top: 1px solid #333;
}

    .footer a {
        color: #aaa;
        text-decoration: none;
        margin: 0 10px;
    }

        .footer a:hover {
            color: #0d6efd;
        }